
.App {
  
  display: flex;
  object-fit: cover;
  flex-wrap: wrap;
   
   align-items:center;
   text-align: center;
   justify-content: space-around;
  
}

body{
 padding-top:1%;
  display: flex;
  object-fit: cover;
  flex-wrap: wrap;
   
   align-items:center;
   text-align: center;
   justify-content: space-around;
  
}

button{
  height: 50px;
  background-color:dodgerblue;
  border:solid 1px dodgerblue;
  border-radius:20px;
  

}

.card:hover{
  transform:scale(1.1);
  
}
.subhead{
  font-weight: 100;
  
}

.container{
  background-color: dodgerblue;
 padding-top: 3%;
 object-fit: cover;
 flex-wrap: wrap;
   
   justify-content: space-around;
}
.card{
  
  border-radius:2%;
  object-fit: cover;
  width:450px;
  margin: 5%;
  background-color:whitesmoke
  
  
}

.amount{
  font-size:30px;
  font-weight:800;
  
}
.navbar-brand{
  visibility: hidden;
}


.container-sm{
  background-color:whitesmoke;
  margin-top:2%;
  margin-bottom:2%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 20px;

}
.search{
  
  width: 30%;
  height: 30px;
  font-size: 20px;
  margin-left: 50%;
  margin-right: 0%;
}


.home{

  flex-flow: end;
}

.info{

margin-left: 20px;
}